canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-size: 22px;
    color:
        #000000;

}

#content {
    float: right;
    width: 60%;
    font-family: 'Courier New', Courier, monospace, monospace;
    font-weight: bold;
}

.box {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 3px;
    border: solid 2px;
    box-shadow: 10px 13px;
}

/* Title color */
h1 {
    color: #146892;
    font-size: 250%;
    margin-top: 5%;
}

/* To change the size to different screens */
@media screen and (max-width: 600px) {
    #content {
        float: none;
        width: 100%
    }
}