canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-size: 22px;
    color:
    #FFFFFF;

}

#content {
    float: right;
    width: 60%;
    font-family: 'Courier New', Courier, monospace, monospace;
    font-weight: bold;
}

.box {
    background-color: rgba(255, 176, 227, 0.6);
    border-radius: 3px;
    border: solid 2px;
}

.smallbox {
    background-color: rgba(255, 176, 227, 0.6);
    border-radius: 3px;
    border: solid 2px;
    width: 40%;
    float: right;

    font-family: 'Courier New', Courier, monospace, monospace;
    font-weight: bold;
}

h1 {
    color: #FFB0E3;
}

@media screen and (max-width: 600px) {
    #content {
         float: none;
         width: 100%
    }
}